<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="roadmap.css">
  </head>
  <style media="screen">
    .selected{
      fill:dodgerblue !important;
    }

    .map-item-selected{
      z-index:1;
      background-color: black !important;
      color:white !important;
    }
    svg {
  transition: transform 0.1s linear 0.1s;
}
/* ::-webkit-scrollbar {
  width: 0px;
  height:0px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #888;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
}  */
  </style>
  <body style="background-color:white;">
    <script src="https://code.jquery.com/jquery-2.0.2.min.js"> </script>
    <!-- <script src="AwaTree.js" charset="utf-8"></script> -->
      <script src="Roadmap.js" charset="utf-8"></script>
      <script src="CanvasDoc.js" charset="utf-8"></script>
      <script src="RoadmapCanvas.js" charset="utf-8"></script>
    <script type="text/javascript">

    //
    // const controller  = new Mind.map({host:$("body")});
    // controller.render();
    // // let circle = new Circle({x:75,y:75,r:10,style:'fill: transparent; stroke: blue; stroke-width: 1px;'});
    // // controller.addItem(circle);
    // // controller.on("click",(e)=>{
    // //   const {offsetX,offsetY} = e;
    // //   console.log("clicked svg",offsetX,offsetY);
    // //   let circle = new Circle({x:offsetX,y:offsetY,r:10,style:'fill: transparent; stroke: blue; stroke-width: 1px;'});
    // //   controller.addItem(circle);
    // // });
    // controller.tree({
    //   data:[
    //     {id:1,name:"1"},
    //     {id:2,name:"2",parentId:1},
    //     {id:3,name:"3",parentId:1},
    //     {id:4,name:"4",parentId:1},
    //
    //     {id:5,name:"5",parentId:3},
    //     {id:6,name:"6",parentId:3},
    //     {id:7,name:"7",parentId:3},
    //
    //     {id:8,name:"8",parentId:4},
    //     {id:9,name:"9",parentId:4},
    //     {id:10,name:"10",parentId:4},
    //     {id:11,name:"11",parentId:4},
    //
    //
    //     {id:12,name:"12",parentId:7},
    //
    //     {id:13,name:"13",parentId:1},
    //     {id:14,name:"14",parentId:1},
    //     {id:15,name:"15",parentId:1},
    //   ]
    // });


   // const controler = new Roadmap.controller({host:$(`body`),startDate:"2022-01-01", endDate:"2022-12-31"});
   //
   // controler.addItems({
   //   section:"Learning",
   //   items:[
   //     {label:`January`,startDate:`2022-01-01`, endDate:`2022-01-31`},
   //     {label:`February`,startDate:`2022-02-01`, endDate:`2022-02-28`},
   //     {label:`task1`,startDate:`2022-03-29`, endDate:`2022-04-29`},
   //     {label:`task2`,startDate:`2022-04-28` , endDate:`2022-05-29`},
   //     {label:`task3`,startDate:`2022-05-31` , endDate:`2022-06-20`},
   //     {label:`task4`,startDate:`2022-05-31` , endDate:`2022-06-20`},
   //     {label:`task5`,startDate:`2022-05-31` , endDate:`2022-06-20`},
   //     {label:`task6`,startDate:`2022-05-31` , endDate:`2022-06-20`},
   //     {label:`December`,startDate:`2022-12-01`, endDate:`2022-12-31`},
   //   ]
   // });
   // controler.addItems({
   //   section:"Work",
   //   items:[
   //     {label:`task1`,startDate:`2022-03-29`, endDate:`2022-04-29`},
   //     {label:`task2`,startDate:`2022-04-28` , endDate:`2022-05-29`},
   //     {label:`task3`,startDate:`2022-05-31` , endDate:`2022-06-20`},
   //     {label:`task4`,startDate:`2022-01-30` , endDate:`2022-08-30`}
   //   ]
   // });
   // controler.addItems({
   //   section:"Work 3",
   //   items:[
   //     {label:`task1`,startDate:`2022-03-29`, endDate:`2022-04-29`},
   //     {label:`task2`,startDate:`2022-04-28` , endDate:`2022-05-29`},
   //     {label:`task3`,startDate:`2022-05-31` , endDate:`2022-06-20`},
   //     {label:`task4`,startDate:`2022-01-30` , endDate:`2022-08-30`}
   //   ]
   // });
   // controler.addItems({
   //   section:"Work 4",
   //   items:[
   //     {label:`task1`,startDate:`2022-03-29`, endDate:`2022-04-29`},
   //     {label:`task2`,startDate:`2022-04-28` , endDate:`2022-05-29`},
   //     {label:`task3`,startDate:`2022-05-31` , endDate:`2022-06-20`},
   //     {label:`task4`,startDate:`2022-01-30` , endDate:`2022-08-30`}
   //   ]
   // });


   const controller = new RoadmapCanvas.controller({host:$("body"),startDate:"2022-01-01", endDate:"2022-12-31"});
    </script>
  </body>
</html>
